<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcomputerstudy3.example.mapper.BoardMapper">
	<select id="selectBoardList" parameterType="int" resultType="Board">
      <!-- SELECT 		@ROWNUM := @ROWNUM -1 AS ROWNUM,
      				ta.b_id as bId,
			        ta.b_title as bTitle,
			        ta.b_content as bContent,
			        ta.b_writer as bWriter
	  FROM			lc_board ta,
	  				(SELECT @ROWNUM := (SELECT COUNT(*) - #{pageNum} + 1 FROM lc_board ta)) tb
	  LIMIT			#{pageNum}, 3		
	   -->
		SELECT 			ta.b_id as bId,
				        ta.b_title as bTitle,
				        ta.b_content as bContent,
				        ta.b_writer as bWriter,
				        ta.b_group as bGroup,
				        ta.b_order as bOrder
		FROM 			lc_board ta
		ORDER BY 		b_group DESC, b_order asc
		LIMIT			#{pageNum}, 5
	   </select>
	   
	   <insert id="createBoard" parameterType="Board">
			INSERT INTO lc_board (
				b_title,
				b_content,
				b_writer,
				b_group,
				b_order
			)VALUES(
				#{bTitle},
				#{bContent},
				#{bWriter},
				#{bId},
				#{bOrder}+1
			)
		   	<selectKey keyProperty="bId" resultType="int" order="AFTER">
	    		SELECT LAST_INSERT_ID()
	  		</selectKey>
	  		
	   </insert>
	   
	   <update id="updateGroup" parameterType="Board">
	   	UPDATE lc_board 
		SET b_group	= #{bId}
	  	WHERE b_id = #{bId}
	   </update>
	  
	  <select id="selectBoardCount" resultType="Int">
	  	SELECT COUNT(*) count 
	  	FROM lc_board
	  </select>
	  
	  <select id="selectBoardDetail" parameterType="int" resultType="Board">
		SELECT		b_id 		bId,
					b_title 	bTitle,
					b_content 	bContent,
					b_writer 	bWriter,
					b_datetime 	bDateTime
		FROM		lc_board
		WHERE 		b_id = #{bId}
	  </select>
	  
	  <update id="Editprocess" parameterType="board">
	  	UPDATE lc_board 
	  	SET b_title		=	#{bTitle},
	  		b_content	=	#{bContent}
	  	WHERE b_id = #{bId}
	  </update> 
	  <delete id="WriteDelete" parameterType="board">
	  DELETE
	  FROM lc_board
	  WHERE b_id = #{bId}
	  </delete>
	  
	  <insert id="ReplyComment" parameterType="Comment">
	   	INSERT INTO lc_comment (
	   		b_id,
	   		c_id,
	   		c_comment,
	   		c_writer
	   	)VALUES(
	   		#{bId},
	   		#{cId},
	   		#{cComment},
	   		#{cWriter}
	   	)
	   	ON DUPLICATE KEY UPDATE
	   		c_comment = #{cComment}
	   
	   </insert>
	   
	   	<select id="selectCommentList" parameterType="int" resultType="Comment">
	      SELECT 		
	      				c_id  cId,
				        c_comment  cComment,
				        c_writer  cWriter,
				        c_datetime 	cDateTime
		  FROM			lc_comment
		  WHERE b_id = #{bId}
	   </select>
	   
	   <select id="selectCommentDetail" parameterType="int" resultType="comment">
			SELECT
						c_id  cId,
				        c_comment  cComment,
				        c_writer  cWriter,
				        c_datetime 	cDateTime
		  	FROM		lc_comment
			WHERE 		c_id = #{cId}
	  </select>  
	  <delete id="CommentDelete" parameterType="comment">
	  	DELETE
	  	FROM lc_comment
	  	WHERE c_id = #{cId}
	  </delete>
	  <update id="CommentEditProcess" parameterType="comment">
	  	UPDATE 	lc_comment
	  	SET 	c_comment = #{cComment}
	  	WHERE 	c_id = #{cId}
	  </update>
	  
		<insert id="createReply" parameterType="Board">
			INSERT INTO lc_board (
				b_title,
				b_content,
				b_writer,
				b_group,
				b_order
			)VALUES(
				#{bTitle},
				#{bContent},
				#{bWriter},
				#{bId},
				#{bOrder}+1
			)
		   	<selectKey keyProperty="bId" resultType="int" order="AFTER">
	    		SELECT LAST_INSERT_ID()
	  		</selectKey>
  		
		</insert>
		<select id="selectMaxOrder" parameterType="int" resultType="board">
	  		SELECT		b_group, 
						max(b_order)+1 AS max_order
			FROM		lc_board ta
			WHERE 		
						b_group = #{bGroup}
		</select>
		
		<update id="updateOrder" parameterType="Board">
			UPDATE 	lc_board
	  		SET 	b_order =( 	SELECT 		max(b_order)+1 AS max_order 
		  						FROM		lc_board
		  						WHERE 		b_group =#{bGroup}
		  					)
	  		WHERE 	
		  			b_id = #{bId}
		</update>	
</mapper>
